.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .li {
    float: left;
  }

  .a {

    cursor: pointer;
  }

  .li:hover,
  .li:focus {
    background-color: cadetblue;
  }

.slideshowContainer{
  display: block;
  float: left;
  border-left: 3px solid red;
  padding-left: 10px;
  width: 1000px;
}

.slideshowCenterContainer{
  border: 1px solid;
  overflow: hidden;
    margin: 0 auto;
    width: 600px;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 150px;
}

.mySlides {
  white-space: nowrap;
  height: 140px;
  overflow: hidden;
} 


.slideItem{
  float: left;
}

.left, .right {  
  cursor: pointer;  
  position: absolute;  
  /* top: 50%;   */
  width: auto;  
  padding: 16px;  
  margin-top: -22px;  
  color: rgb(31, 10, 218);  
  font-weight: bold;  
  font-size: 18px;  
  transition: 0.6s ease;  
  border-radius: 0 3px 3px 0;  
}  
.right {  
  /* right: 0;   */
  margin-left: 50px;
  border-radius: 3px 0 0 3px;  
}  

.left:hover, .right:hover {  
  background-color: rgba(115, 115, 115, 0.8);  
}  